* {
  margin: 0px
}

.manjusri-wrapper {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
}

.manjusri-header {
  top: 0px;
  height: 40px;
  position: sticky;
  /* background-color: antiquewhite; */
}

.manjusri-main {
  /* Take the remaining height */
  flex-grow: 1;

  /* Layout the left sidebar, main content and right sidebar */
  display: flex;
  flex-direction: row;
}

.manjusri-aside {
  width: 25%;
  padding-top: 50px;
  /* background-color: blue; */
}

.manjusri-aside-active {
  background-color: #ff3e00;
  color: white;
}

.manjusri-article {
  /* Take the remaining width */
  flex-grow: 1;

  padding-top: 20px;
  /* background-color: blueviolet; */
}

.manjusri-nav {
  width: 20%;
  padding-top: 40px;
  /* background-color: brown; */
}

.manjusri-footer {
  /* background-color: darkgreen; */
}

.manjusri-menu {
  list-style: none;
  margin: 0;
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end
}

.manjusri-menu a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white
}

/* .manjusri-menu a:hover {
  background: #00AEE8
} */

.manjusri-menu-a-active {
		background-color: #ff3e00;
		color: white;
}

@media all and (max-width:800px) {
  .manjusri-menu {
    justify-content: space-around
  }
}

@media all and (max-width:600px) {
  .manjusri-menu {
    -webkit-flex-flow: column wrap;
    padding: 0
  }

  .manjusri-menu a {
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  }

  .manjusri-menu li:last-of-type a {
    border-bottom: none
  }
}