* {
  margin: 0px
}

.manju-web-wrapper {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
}

.manju-web-header {
  top: 0px;
  height: 40px;
  position: sticky;
  /* background-color: antiquewhite; */
}

.manju-web-main {
  /* Take the remaining height */
  flex-grow: 1;

  /* Layout the left sidebar, main content and right sidebar */
  display: flex;
  flex-direction: row;
}

.manju-web-aside {
  width: 250px;
  padding-top: 50px;
  /* background-color: blue; */
}

.manju-web-aside-active {
  background-color: #ff3e00;
  color: white;
}

.manju-web-article {
  /* Take the remaining width */
  flex-grow: 1;

  margin-right: 260px;
  padding-top: 20px;
  /* background-color: blueviolet; */
}

.manju-web-article h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.manju-web-nav {
  position: fixed;
  top: 40px;
  right: 5px;
  padding-top: 20px;
  /* background-color: brown; */
}

.manju-web-nav ul {
  list-style: none;
}

.manju-web-footer {
  /* background-color: darkgreen; */
}

.manju-web-menu {
  list-style: none;
  margin: 0;
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end
}

.manju-web-menu a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white
}

/* .manju-web-menu a:hover {
  background: #00AEE8
} */

.manju-web-menu-a-active {
		background-color: #ff3e00;
		color: white;
}

@media all and (max-width:800px) {
  .manju-web-menu {
    justify-content: space-around
  }
}

@media all and (max-width:600px) {
  .manju-web-menu {
    -webkit-flex-flow: column wrap;
    padding: 0
  }

  .manju-web-menu a {
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  }

  .manju-web-menu li:last-of-type a {
    border-bottom: none
  }
}

#manju-web-scroll-spy li.active {
  background-color: black;
}

#manju-web-scroll-spy li.active a {
  color: red;
}